@import url("./reset.css");
@import url("./header.css");
@import url("./footer.css");
@import url("../css/plus,minus,print.css");

.contents_inner{width: 980px; margin: 0 auto;}

/* contents */
#wrap section div.contents{width: 100%; height: 787px;}
#wrap section div.contents div.contents_inner{height: 787px;}
/* left */
#wrap section div.contents div.contents_inner div.left{width: 200px; height: 787px; padding-top: 40px; float: left; box-sizing: border-box;}
#wrap section div.contents div.contents_inner div.left h2{width: 200px; height: 60px; line-height: 60px; background: #4563a1; color: #fff; font-size: 20px; padding-left: 20px; box-sizing: border-box;}
#wrap section div.contents div.contents_inner div.left ul li{height: 50px; border: 1px solid #e1e1e5; background: #f0f1f6; letter-spacing: 0px; border-top: unset; padding: 15px; box-sizing: border-box;}
#wrap section div.contents div.contents_inner div.left ul li a{display: block; color: #333;}
#wrap section div.contents div.contents_inner div.left ul li:nth-child(1){background: #fff;}
#wrap section div.contents div.contents_inner div.left ul li:nth-child(1) a{font-size: 14px; font-weight: bold;}
#wrap section div.contents div.contents_inner div.left ul li:nth-child(2) a{background: url("../images/icon_lnb.gif")no-repeat right center;}
/* right */
#wrap section div.contents div.contents_inner div.right{width: 780px; height: 787px; padding: 28px 0 0 40px; box-sizing: border-box; float: left;}
#wrap section div.contents div.contents_inner div.right h2{font-size: 38px; color: #333; letter-spacing: -3px; height: 70px; border-bottom: 2px solid #666666;}
/* right-table */
#wrap section div.contents div.contents_inner div.right div.notice_table{margin-top: 35px ; border-top: 2px solid #3a7ab8;}
#wrap section div.contents div.contents_inner div.right div.notice_table table{width: 100%; border-collapse: collapse; table-layout: fixed;}
#wrap section div.contents div.contents_inner div.right div.notice_table table thead tr th{padding: 12px 0 12px 0; background: #f8f9fb; border-bottom: 1px solid #dedede; white-space: nowrap;}
#wrap section div.contents div.contents_inner div.right div.notice_table table thead tr th:nth-child(1){width: 74px;}
#wrap section div.contents div.contents_inner div.right div.notice_table table thead tr th:nth-child(2){width: 408px;}
#wrap section div.contents div.contents_inner div.right div.notice_table table thead tr th:nth-child(3){width: 74px;}
#wrap section div.contents div.contents_inner div.right div.notice_table table thead tr th:nth-child(4){width: 110px;}
#wrap section div.contents div.contents_inner div.right div.notice_table table thead tr th:nth-child(5){width: 74px;}
#wrap section div.contents div.contents_inner div.right div.notice_table table tbody tr td{font-size: 13px; text-align: center; padding: 10px 0; border-bottom: 1px solid #dedede; text-overflow: ellipsis; overflow: hidden;}
#wrap section div.contents div.contents_inner div.right div.notice_table table tbody tr td:nth-child(2){text-align: left;}
#wrap section div.contents div.contents_inner div.right div.notice_table table tbody tr td a{color: #333; white-space: nowrap; max-width: 408px;}
#wrap section div.contents div.contents_inner div.right div.notice_table table tbody tr td {color: #555;}
/* right-page */
#wrap section div.contents div.contents_inner div.right div.notice_page{width: 100%; height: 30px; text-align: center; margin-top: 30px;}
#wrap section div.contents div.contents_inner div.right div.notice_page a{display: inline-block; color: #888888; padding: 0 10px; line-height: 30px; vertical-align: top;}
#wrap section div.contents div.contents_inner div.right div.notice_page a:first-child{padding: 0;}
#wrap section div.contents div.contents_inner div.right div.notice_page a:last-child{padding: 0;}
#wrap section div.contents div.contents_inner div.right div.notice_page a:nth-child(3){background: #3a7ab8; color: #fff; font-weight: bold;}
/* right-btn */
#wrap section div.contents div.contents_inner div.right div.notiec_search{margin-top: 30px; text-align: center; background: #fafafa; border: 1px solid #eee; padding: 20px 0;}
#wrap section div.contents div.contents_inner div.right div.notiec_search select{width: 101px; height: 30px; border: 1px solid #ccc; padding: 2px; color: #767676}
#wrap section div.contents div.contents_inner div.right div.notiec_search input.text{width: 329px; height: 28px; border: 1px solid #ccc;}
#wrap section div.contents div.contents_inner div.right div.notiec_search input.btn{width: 79px; height: 30px; background: url("../images/btn_search.gif")no-repeat 0 0; text-indent: -999px; border: none; padding: 3px; cursor: pointer;}