@charset "UTF-8";

/* 주조색 : #0076BE / 보조색 : E66B27 / 텍스트 : #333333 */

/* reset */
*{margin: 0; padding: 0;}
ul,li{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none; color: #333333;}

#wrap{width: 1200px; margin: 0 auto;}
#wrap header{width: 1200px; height: 100px;}
#wrap header .logo{width: 200px; height: 100px; line-height: 125px; float: left;}
#wrap header .menu{width: 1000px; height: 100px; float: left; position: relative;}
#wrap header .menu nav{width: 800px; height: 50px; float: left; position: absolute; top: 30px; right: 0; text-align: center; z-index: 999;}
#wrap header .menu nav>ul>li{width: 200px; height: 50px; line-height: 50px; float: left;
    border-top: 3px solid #0076BE; background: #0076BE; float: left;
}
#wrap header .menu nav>ul>li:hover{background: #ffffff;}
#wrap header .menu a{display: block;}
#wrap header .menu nav>ul>li>ul{width: 200px; height: auto; display: none; border-bottom: 3px solid #0076BE;}
#wrap header .menu nav>ul>li>ul>li{background: #ffffff;}
#wrap header .menu nav>ul>li>ul>li:hover{background: #0076BE;}
#wrap header .menu nav>ul>li>ul>li .op{opacity: 0;}

#wrap section .slider{width: 1200px; height: 300px; position: relative; overflow: hidden;}
#wrap section .slider .slidelist{width: 3600px; height: 300px; position: absolute; top: 0; left: 0;}
#wrap section .slider .slidelist a img{float: left;}

#wrap section .contents{width: 1200px; height: 200px;}
#wrap section .contents .con1{width: 400px; height: 200px; float: left;}
/* 공지사항 */
#wrap section .contents .con1 .TabbedPanelsContent ul.notice li{border-bottom: 1px dotted #333333; height: 32px;}
#wrap section .contents .con1 .TabbedPanelsContent ul.notice li a{display: block; font-size: 14px; padding: 5px 0 0 10px;}
#wrap section .contents .con1 .TabbedPanelsContent ul.notice li span{font-size: 12px; float: right; margin-top: 10px;}

/* 갤러리 */
#wrap section .contents .con1 .TabbedPanelsContent ul.gellery img{width: 128px; height: 161px;}
#wrap section .contents .con1 .TabbedPanelsContent ul.gellery li:nth-child(1){float: left; margin-right: 3px;}
#wrap section .contents .con1 .TabbedPanelsContent ul.gellery li:nth-child(2){float: left;}
#wrap section .contents .con1 .TabbedPanelsContent ul.gellery li:nth-child(3){float: right;}

#wrap section .contents .banner{width: 400px; height: 200px; float: left;}
#wrap section .contents .quick{width: 400px; height: 200px; float: left;}

#wrap footer{clear: both; width: 1200px; height: 100px;}
#wrap footer .blogo{width: 200px; height: 100px; line-height: 125px; float: left; }

#wrap footer .bottom{width: 1000px; height: 100px; float: left;}
#wrap footer .bottom .bmenu{width: 1000px; height: 50px;}
#wrap footer .bottom .bmenu ul{margin-left: 250px;}
#wrap footer .bottom .bmenu ul li{float: left; margin: 15px 30px 0 0;}
#wrap footer .bottom .bmenu ul li:nth-child(4) a{color: red;}
#wrap footer .bottom .copyright{width: 1000px; height: 50px; text-align: center; margin-top: 15px; font-size: 14px;}

#popup{width: 500px; height: 400px; position: absolute; top: 250px; left: 50%; transform: translateX(-50%);
    background: #ffffff; border: 2px solid #E66B27; box-sizing: border-box; display: none; z-index: 99999;
}
#popup p{padding: 30px 30px 30px 110px; font-size: 22px; font-weight: bold;}
#popup .close{position: absolute; top: 15px; right: 15px;}
#popup .close button{border: 0; border-radius: 25px; height: 25px; width: 20px; cursor: pointer;}
#popup .close button:hover{background: #E66B27;}
#popup .text{text-align: center; line-height: 2.5; font-size: 18px; font-weight: bold;}