@charset "UTF-8";

/* reset */
*{margin: 0; padding: 0;}
ul,li{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none; color: #000;}
body{background: #fdfcf0;}

#wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* *************************************************************퀵메뉴************************************************** */
#quick{
    width: 120px;
    height: 490px;
    background: #ffffff;
    position: absolute;
    top: 150px;
    right: -160px;
    z-index: 999;
    border: 3px solid red; 
    border-radius: 10px;  
}
#quick ul li a{
    background: url(../images/contents/quick.png)no-repeat;
    width: 120px;
    height: 100px;
    display: block;
    margin: 20px 0;
    box-sizing: border-box;}
#quick ul li a.quick1{
    background-position: 8px -84px;
    border-bottom: 2px dotted #000;
}
#quick ul li a.quick2{
    background-position: -150px -84px;
    border-bottom: 2px dotted #000;
}
#quick ul li a.quick3{
    background-position: -292px -84px;
    border-bottom: 2px dotted #000;
}
#quick ul li a.quick4{
    background-position: -435px -84px;
}
/* *****************************************************퀵메뉴-hover***************************************** */
#quick ul li a:hover{
    background: url(../images/contents/quick_hover.png)no-repeat;
    width: 120px;
    height: 100px;
    display: block;
    margin: 20px 0;
    box-sizing: border-box;
}
#quick ul li a:hover.quick1{
    background-position: 8px -84px;
    border-bottom: 2px dotted #000;
}
#quick ul li a:hover.quick2{
    background-position: -150px -84px;
    border-bottom: 2px dotted #000;
}
#quick ul li a:hover.quick3{
    background-position: -292px -84px;
    border-bottom: 2px dotted #000;
}
#quick ul li a:hover.quick4{
    background-position: -435px -84px;
}

/* *********************************************************메인 페이지**************************************** */


/*
    header
*/

#wrap header{
    width: 1200px;
    height: 150px;
    position: relative;
}

/* ***********************************************************로고********************************************** */
#wrap header .logo a img{position: absolute;
    left: 0;
    top: 15px;
    width: 100px;
}

/* **********************************************************상단메뉴***************************************** */
#wrap header .topNav{
    position: absolute;
    right: 0;
    top: 15px;
}
#wrap header .topNav ul li{
    float: left;
}
#wrap header .topNav ul li a{
    margin-right: 8px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
#wrap header .topNav ul li a:hover{
    color: #e71a0f;
}
/* **********************************************************상단메뉴-검색************************************** */
#wrap header .topNav ul li.search {
    margin-top: -5px;
    width:194px;
    height: 36px;
    line-height: 36px;
    background: url(../images/header/bgSearch.png) no-repeat 0 0;
}
#wrap header .topNav ul li.search .input-text {
    width: 140px; 
    margin: 5px 12px 5px 10px;
    padding: 2px;
    border:none;
}
#wrap header .topNav ul li.search input::placeholder {
    color:#ddd;
}
#wrap header .topNav ul li.search input:focus {
    outline:none;
}

#wrap header .topNav ul li.search .input-img {
    margin-left: -9px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* *****************************************************************예매,영화 등 메뉴************************************* */
#wrap header .menu{
    width: 1200px;
    height: 100px;
    position: absolute;
    bottom: 0;
}
#wrap header .menu ul li{
    float: left;
    margin: 25px 1px 0 0;
    width: 199px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#wrap header .menu ul li a{
    display: block;
    background: #000;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
}
#wrap header .menu ul li a:hover{
    background: #e71a0f;
    border-top: 3px solid ;
}
#wrap header .menu ul li a.gr{
    background: linear-gradient(140deg,#007adf,#00ecbc, #214fad, #e14fad 60%, #b334ef, #ff4e50, #ff9a44);
}

/* *********************************************************section*********************************************** */
/* *****************************************************슬라이드 광고********************************* */
#wrap section.contents .banner{
    width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
#wrap section.contents .banner>div{
    position: absolute;
    top: 0;
    left: 0;
}
#wrap section.contents .banner .slideList .slideImg a img{
    display: block;
}

/* ********************************************************메인 콘텐츠***************************** */
#wrap section.contents .items{
    width: 1200px;
    height: 1010px;
    padding-top: 20px;
}

/* *******************************************************각영화************************* */
#wrap section.contents .mv{
    width: 285px;
    height: 500px;
    float: left;
    position: relative;
    margin-right: 20px;
}

#wrap section.contents .mv:nth-child(4),#wrap section.contents .mv:nth-child(8){
    margin-right: 0;
}

#wrap section.contents .mv>a{
    cursor: default;
}

/* ************************************************************각영화-이미지*********************** */
#wrap section.contents .mv .img{
    width: 285px;
    height: 410px;
    overflow: hidden;
    border: 5px solid red;
    border-radius: 10px;
    box-sizing: border-box;
}
#wrap section.contents .mv .img a{
    display: block;
}

#wrap section.contents .mv .img img{
    display: block;
    cursor: pointer;
    transition: 0.4s;
}
#wrap section.contents .mv .img img:hover{
    transform: scale(1.1);
}
/* *******************************************************각영화-글자******************* */
#wrap section.contents .mv .text{
    margin-top: 5px;
}
#wrap section.contents .mv .text p{
    font-size: 18px;
    font-weight: bold;
}

#wrap section.contents .mv .text span{
    font-size: 12px;
    color: gray;
    display: block;
    margin-top: 5px;
}

#wrap section.contents .mv .text strong{
    color: orange;
}
/* *******************************************************각영화-아이콘******************************************* */
#wrap section.contents .mv .icon{
    position: absolute;
    right: 5px;
    bottom: 20px;
    opacity: 0;
    transition: 0.7s;
}
#wrap section.contents .mv:hover .icon{
    opacity: 1;
}
#wrap section.contents .mv .icon a.play{
    width: 18px;
    height: 18px;
    background: url(../images/contents/icon_play.png)no-repeat center;
    background-size: 18px 18px;
    display: block;
    float: left;
}
#wrap section.contents .mv .icon a.play:hover{
    width: 18px;
    height: 18px;
    background: url(../images/contents/icon_play_hover.png)no-repeat center;
    background-size: 18px 18px;
    display: block;
    float: left;
}
#wrap section.contents .mv .icon a.like{
    width: 18px;
    height: 18px;
    background: url(../images/contents/icon_like.png)no-repeat center;
    background-size: 18px 18px;
    display: block;
    float: left;
    margin-left: 10px;
}
#wrap section.contents .mv .icon a.like:hover{
    width: 18px;
    height: 18px;
    background: url(../images/contents/icon_like_hover.png)no-repeat center;
    background-size: 18px 18px;
    display: block;
    float: left;
    margin-left: 10px;
}

/* *******************************************************각영화-이용가능 나이******************************************** */
#wrap section.contents .mv button{
    font-size: 10px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: unset;
    position: absolute;
    right: 0;
    bottom: 50px;
    color: #fff;
    font-weight: bold;
}
#wrap section.contents .mv button.f-all{
    background: green;
}

#wrap section.contents .mv button.f-12{
    background: skyblue;
}

#wrap section.contents .mv button.f-15{
    background: orange;
}
#wrap section.contents .mv button.f-19{
    background: red;
}

/* **************************************************************footer******************************************** */

#wrap footer{
    clear: both;
    width: 1200px;
    height: 300px;
}

/* **********************************************************하단광고************************************** */
#wrap footer .bpop{
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
}
#wrap footer .bpop a{
    display: block;
}
#wrap footer .bpop a img{
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 110px;
}

/* ***********************************************************하단로고***************************************** */
#wrap footer .blogo{width: 100px;
    height: 100px;
    line-height: 110px;
    float: left;
}
#wrap footer .blogo a img{
    width: 100px;
}
/* *************************************************************저작권****************************************** */
#wrap footer .copyright{
    padding: 15px 0 0 30px;
    box-sizing: border-box;
    width: 900px;
    height: 100px;
    float: left;
    font-size: 12px;
    line-height: 1.7;
}

#wrap footer .bottom{
    width: 200px;
    height: 100px;
    float: left;
}

/* ****************************************************footer-sns*************************************** */
#wrap footer .bottom .sns{
    width: 200px;
    height: 50px;
}
#wrap footer .bottom .sns ul li{
    float: right;
    margin: 15px 0 0 20px;
}
#wrap footer .bottom .sns ul li:hover{
    opacity: 0.7;
}

/* *******************************************************계열사************************************** */
#wrap footer .bottom .family{
    width: 200px;
    height: 50px;
    position: relative;
}
#wrap footer .bottom .family select{
    position: absolute;
    right: 0;
    bottom: 25px;
}

/* ***************************************************************하단광고 배경***************************************** */
#bg{
    width: 100%;
}
#bg .bpop_bg{
    width: 100%;
    height: 200px;
    background: #f3afb2;
    position: absolute;
    top: 1480px;
}