/* footer */
#wrap footer{width: 100%; height: 390px; background: #fff; border-top: 1px solid #ccc; box-sizing: border-box;}
#wrap footer div.footer_inner{height: 390px;}
/* footer-top */
#wrap footer div.top{padding-top: 50px; width: 100%; border-bottom: 1px solid #e1e1e1; padding-bottom: 60px;}
/* footer-top-bmenu */
#wrap footer div.top div.bmenu ul li{float: left; margin-right: 20px; font-size: 15px;}
#wrap footer div.top div.bmenu ul li a{display: block;}
#wrap footer div.top div.bmenu ul li:nth-child(4) a{color: red;}
/* footer-top-sns */
#wrap footer div.top div.sns{float: right; margin-top: -5px;}
#wrap footer div.top div.sns ul li{float: left; margin-left: 12px;}
/* footer-bottom */
#wrap footer div.bottom{margin-top: 20px; position: relative;}
/* footer-bottom-blogo */
#wrap footer div.bottom div.blogo{width: 10%; float: left; }
/* footer-bottom-copyright */
#wrap footer div.bottom div.copyright{width: 70%; float: left; font-size: 14px;}
#wrap footer div.bottom div.copyright p{line-height: 1.7; color: #555;}
#wrap footer div.bottom div.copyright p span{display: block; float: left;}
#wrap footer div.bottom div.copyright p span.bar{width: 1px; height: 13px; background: #e0e0e0; margin: 7px 10px 0 10px; float: left;}

/* footer-bottom-familysite */
#wrap footer div.bottom div.family{width: 20%; float: left; padding-top: 20px; box-sizing: border-box;}
#wrap footer div.bottom div.family select{float: right; width: 80%; height: 40px; border: 1px solid #e0e0e0; padding-left: 15px; box-sizing: border-box; appearance: none; background: url(../images/sel_icon.png)no-repeat right 12px top 50%;}

#wrap footer div.bottom div.item{position: absolute; left: 117px; bottom: -150px;}
#wrap footer div.bottom div.item div.item1{float: left; margin-right: 40px;}
#wrap footer div.bottom div.item div.item1 a{display: block; background: url(../images/footer_icon1.png)no-repeat 0 50%; height: 37px; padding-left: 50px;}
#wrap footer div.bottom div.item div.item1 p{display: block; height: 37px; font-size: 12px; color: #333; line-height: 1.7;}
#wrap footer div.bottom div.item div.item1 p span{display: block; float: left;}
#wrap footer div.bottom div.item div.item1 p span.bar{width: 1px; height: 13px; margin: 4px 10px 0 10px; background: #e0e0e0; float: left;}
#wrap footer div.bottom div.item div.item2{float: left;}
#wrap footer div.bottom div.item div.item2 p{background: url(../images/footer_icon2.jpg)no-repeat 0 50%; height: 37px; padding-left: 60px;}
#wrap footer div.bottom div.item div.item2 p span{display: block; font-size: 12px; color: #333; line-height: 40px;}
#wrap footer div.bottom div.lotteOn{position: absolute; right: 0; top: 80px;}
#wrap footer div.bottom div.lotteOn a img{display: block;}