@charset "UTF-8";

*{margin: 0; padding: 0;}
ul,li{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}
body{background: #000;}

#wrap{width: 1200px; margin: 0 auto;}
#wrap header{width: 1200px; height: 100px; background: #000; position: fixed; z-index: 9999;}
#wrap header .logo{width: 300px; height: 100px; float: left;}
#wrap header .logo a{font-size: 20px; margin: 30px 0 0 0; text-transform: uppercase; font-weight: bold; color: #fff; display: block;}

#wrap header .menu{width: 900px; height: 100px; float: left;}
#wrap header .menu ul{float: right;}
#wrap header .menu ul li{float: left; margin-left: 15px;}
#wrap header .menu ul a{font-size: 20px; font-weight: bold; color: white; display: block; margin: 30px 10px 0 0;}

#center p{position: absolute; z-index: 2; top: 150px; left: 30px; font-size: 25px; color: #2b6fa6; font-weight: bold; width: 210px; text-align: center; }
#center p.view{position: absolute; z-index: 3; top: 250px; left: 30px;}
#center p.down{position: absolute; z-index: 3; top: 350px; left: 30px;}
#center p.view a, p.down a{display: block; background: #000; width: 210px; height: 55px; line-height: 55px;
    color: #fff; text-align: center; border-radius: 50px; font-size: 18px;
}
#center p.view a:hover, p.down a:hover{background: #2b6fa6;}

#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12{position: relative;}
#wrap #center #a1{width: 1200px; height: 1000px; background: url("../images/1.jpg")100px 0;}
#wrap #center #a2{width: 1200px; height: 1000px; background: url("../images/2.jpg")100px 0;}
#wrap #center #a3{width: 1200px; height: 1000px; background: url("../images/3.jpg")100px 0;}
#wrap #center #a4{width: 1200px; height: 1000px; background: url("../images/4.jpg")100px 0;}
#wrap #center #a5{width: 1200px; height: 1000px; background: url("../images/5.jpg")100px 0;}
#wrap #center #a6{width: 1200px; height: 1000px; background: url("../images/6.jpg")100px 0;}
#wrap #center #a7{width: 1200px; height: 1000px; background: url("../images/7.jpg")100px 0;}
#wrap #center #a8{width: 1200px; height: 1000px; background: url("../images/8.jpg")100px 0;}
#wrap #center #a9{width: 1200px; height: 1000px; background: url("../images/9.jpg")100px 0;}
#wrap #center #a10{width: 1200px; height: 1000px; background: url("../images/10.jpg")100px 0;}
#wrap #center #a11{width: 1200px; height: 1000px; background: url("../images/11.jpg")100px 0;}
#wrap #center #a12{width: 1200px; height: 1000px; background: url("../images/12.jpg")100px 0;}

#wrap footer{width: 1200px; height: 100px; background: #000; color: #fff; text-align: center; line-height: 100px;}