@charset "UTF-8";

/* reset */
*{margin: 0; padding: 0;}
ul,li{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}
.blind {position: absolute; top: 0; left: 0; overflow: hidden; text-indent: -9999999px; width: 0; height: 0; font-size: 0;}

/* 영문폰트연결 */
body{font: normal 15px 'RalewayL'; color: #444;}
@font-face {font-family: 'RalewayL'; src: url("../font/Raleway-Light.ttf");}
@font-face {font-family: 'RalewayLT'; src: url("../font/Raleway-Thin.ttf");}
@font-face{font-family: 'SpoqaB'; src: url(../font/SpoqaHanSansBold.ttf);}
@font-face{font-family: 'SpoqaL'; src: url(../font/SpoqaHanSansLight.ttf), url(../font/NanumSquare_acR.ttf), url(../font/SpoqaHanSansLight.woff);}
@font-face{font-family: 'SpoqaR'; src: url(../font/SpoqaHanSansRegular.ttf), url(../font/SanumSquare_acR.ttf), url(../font/SpoqaHanSansRegular.woff);}

/* #b5cc7c */

/* 정렬 */
.fl{float: left;}
.fr{float: right;}

#wrap{width: 100%; margin: 0 auto; position: relative;}

/* header */
#wrap header{width: 100%; position: fixed; border-bottom: 1px solid #e6e6e6; background: #fff; z-index: 999;}
#wrap header .header_main{width: 1400px; height: 70px; margin: 0 auto;}
#wrap header .header_main .logo{line-height: 70px;}
#wrap header .header_main .logo h1{font-size: 23px; letter-spacing: 5px;}
#wrap header .header_main .logo h1 a{color: #444;}
#wrap header .header_main .logo h1 a span{color: #b5cc7c;}
#wrap header .header_main .logo h1 a span.pf{font-size: 12px; position: relative;}
#wrap header .header_main .logo h1 a span.pf::before{content: ""; position: absolute; top: 2px; left: -8px; width: 2px; height: 9px; background: #b5cc7c;}

/* menu */
#wrap header .header_main ul.nav li{padding: 26px; color: #444; font-size: 15px; font-weight: bold; cursor: pointer;}
#wrap header .header_main ul.nav li.on{color: #b5cc7c;}
#wrap header .header_main ul.nav li.on2{border-bottom: 3px solid #b5cc7c;}

/* profile */
#wrap section#profile{width: 100%; padding-top: 100px;}
#wrap section#profile .profile_main{width: 1400px; margin: 0 auto; padding: 70px 0; overflow: hidden;}
/* left */
#wrap section#profile .profile_main .p_left{width: 500px; padding-left: 30px;}
#wrap section#profile .profile_main .p_left .img{width: 400px; height: 400px; border-radius: 50%; background: #b5cc7c; background-image: url("../images/ygh.png"); background-size: 340px 400px; background-repeat: no-repeat; background-position: 50px 40px; border: 0;}
/* right */
#wrap section#profile .profile_main .p_right dl{width: 750px;}
#wrap section#profile .profile_main .p_right dl{padding-top: 70px; padding-left: 50px;}
#wrap section#profile .profile_main .p_right dl dt{font-size: 40px; margin-bottom: 30px;}
#wrap section#profile .profile_main .p_right dl dt span{background: linear-gradient(to left, #b5cc7c, #8ca944); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
#wrap section#profile .profile_main .p_right dl dd{margin-top: 50px; font-size: 18px; line-height: 1.7;}
#wrap section#profile .profile_main .p_right dl dd span{color: #b5cc7c;}
#wrap section#profile .profile_main .p_right dl dd span.intro{color: #999;}

/* section-all */
#wrap section h2{font-size: 17px; margin: auto; border-bottom: 1px solid gray; width: 90px; padding-bottom: 20px; font-family: "SpoqaR"; text-align: center;}
#wrap section h3{font-size: 35px; text-align: center; margin-top: 30px; margin-bottom: 30px; letter-spacing: 2px; font-weight: 100;}

/* skill */
#wrap section#skill{width: 100%; padding: 0 0 60px 0;}
#wrap section#skill .skill_main{width: 1400px; overflow: hidden; margin: 0 auto; padding: 60px 0;}

/* skil box */
#wrap section#skill .skill_main .box{width: 220px; height: 300px; margin-top: 100px; margin-left: 50px;}
#wrap section#skill .skill_main .box i{color: #fff; text-align: center; border-radius: 50%; width: 22px; background: #b5cc7c; margin-left: 95px; margin-bottom: 10px; padding: 10px; font-size: 20px;}
#wrap section#skill .skill_main .box dl dt{font-size: 20px; margin-bottom: 30px; padding-top: 15px; text-align: center; width: 100%; font-weight: bold;}
#wrap section#skill .skill_main .box dl dd{font-size: 14px; line-height: 1.8; text-align: center; letter-spacing: -1px; padding-top: 0; padding-left: 0;}
/* portfolio */
#wrap section#portfolio{width: 100%; position: relative; background: url("../images/2323334.jpg"); background-size: cover; padding-top: 70px; min-width: 1400px;}
#wrap section#portfolio .portfolio_main{width: 1400px; margin: 0 auto; padding: 30px 0;}
#wrap section#portfolio .portfolio_main dl{position: relative;}
#wrap section#portfolio .portfolio_main dl dt{width: 700px; height: 620px;}
#wrap section#portfolio .portfolio_main dl h4{font-size: 15px; margin-bottom: 10px;}
#wrap section#portfolio .portfolio_main dl dd h5{font-size: 50px; margin-bottom: 10px; font-weight: 100;}
#wrap section#portfolio .portfolio_main dl dd p{font-size: 15px; line-height: 1.7;}
#wrap section#portfolio .portfolio_main dl dd p.site_btn a{display: block; width: 100px; margin-top: 30px; padding: 10px 70px; text-align: center; color: #000; transition: 0.5s; letter-spacing: 5px; border: 1px solid #444;}
#wrap section#portfolio .portfolio_main dl dd p.site_btn a:hover{color: #b5cc7c; border: 1px solid #b5cc7c;}
/* pf-01 */
#wrap section#portfolio .portfolio_main dl:nth-child(1) dt{background: url("../images/web/hanwha.png")no-repeat center center; background-size: 120%;}
#wrap section#portfolio .portfolio_main dl:nth-child(1) dd{position: absolute; top: 100px; right: 100px; width: 450px; margin-top: 50px; margin-left: 50px;}
/* pf-02 */
#wrap section#portfolio .portfolio_main dl:nth-child(2) dt{background: url("../images/web/Katri.png")no-repeat center center; background-size: 120%; float: right;}
#wrap section#portfolio .portfolio_main dl:nth-child(2) dd{position: absolute; top: 100px; left: 100px; width: 450px; margin-top: 50px; margin-left: 50px;}
#wrap section#portfolio .portfolio_main dl:nth-child(2) dd p.site_btn a{float: right;}
/* pf-03 */
#wrap section#portfolio .portfolio_main dl:nth-child(3){clear: both;}
#wrap section#portfolio .portfolio_main dl:nth-child(3) dt{background: url("../images/web/SK_Planet.png")no-repeat center center; background-size: 100%;}
#wrap section#portfolio .portfolio_main dl:nth-child(3) dd{position: absolute; top: 100px; right: 100px; width: 450px; margin-top: 50px; margin-left: 50px;}
/* pf-04 */
#wrap section#portfolio .portfolio_main dl:nth-child(4) dt{background: url("../images/web/line.png")no-repeat center center; background-size: 120%; float: right;}
#wrap section#portfolio .portfolio_main dl:nth-child(4) dd{position: absolute; top: 100px; left: 100px; width: 450px; margin-top: 50px; margin-left: 50px;}
#wrap section#portfolio .portfolio_main dl:nth-child(4) dd p.site_btn a{float: right;}
/* pf-05 */
#wrap section#portfolio .portfolio_main dl:nth-child(5){clear: both;}
#wrap section#portfolio .portfolio_main dl:nth-child(5) dt{background: url("../images/web/cgv.png")no-repeat center center; background-size: 100%;}
#wrap section#portfolio .portfolio_main dl:nth-child(5) dd{position: absolute; top: 100px; right: 100px; width: 450px; margin-top: 50px; margin-left: 50px;}
/* pf-06 */
#wrap section#portfolio .portfolio_main dl:nth-child(6) dt{background: url("../images/web/starbuck.png")no-repeat center center; background-size: 120%; float: right;}
#wrap section#portfolio .portfolio_main dl:nth-child(6) dd{position: absolute; top: 100px; left: 100px; width: 450px; margin-top: 50px; margin-left: 50px;}
#wrap section#portfolio .portfolio_main dl:nth-child(6) dd p.site_btn a{float: right;}
/* pf-07 */
#wrap section#portfolio .portfolio_main dl:nth-child(7){clear: both;}
#wrap section#portfolio .portfolio_main dl:nth-child(7) dt{background: url("../images/web/lotteworld.png")no-repeat center center; background-size: 120%;}
#wrap section#portfolio .portfolio_main dl:nth-child(7) dd{position: absolute; top: 100px; right: 100px; width: 450px; margin-top: 50px; margin-left: 50px;}

/* section etc */
section#etc{width: 100%; overflow: hidden; background: #f9f9f9; padding: 100px 0;}
section#etc .etc_main{width: 1400px; height: 400px; margin: 0 auto; overflow: hidden; margin-top: 60px;}
section#etc .etc_main dl{width: 19.2%; margin-right: 1%; position: relative; cursor: pointer;}
section#etc .etc_main dl:last-child{margin-right: 0;}
section#etc .etc_main dl dt{position: relative; width: 270px; height: 270px; overflow: hidden;}
section#etc .etc_main dl dt p{width: 100%; height: 100%; overflow: hidden; transition: 0.5s;}
section#etc .etc_main dl dt p::before{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 100%; background: rgb(28,28,28,0.9); opacity: 0.7; z-index: 999;}
section#etc .etc_main dl dt p strong{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); padding: 5px 10px; color: #b5cc7c; border: 2px solid #b5cc7c; border-radius: 50px; transition: 0.6s; z-index: 9999; opacity: 0;}
section#etc .etc_main dl:hover dt p::before{width: 100%; transition: 0.6s;}
section#etc .etc_main dl:hover dt p strong{transition: 0.6s; opacity: 1;}
section#etc .etc_main dl dt i{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
section#etc .etc_main dl.etc_1 dt i{background: url("../images/design/Emoticon/E-mokup.png")no-repeat center; background-size: cover;}
section#etc .etc_main dl.etc_2 dt i{background: url("../images/design/RCA/RCA-mokup.png")no-repeat center; background-size: cover;}
section#etc .etc_main dl.etc_3 dt i{background: url("../images/design/CUBRID/CUBRID-mokup.png")no-repeat center; background-size: cover;}
section#etc .etc_main dl.etc_4 dt i{background: url("../images/design/amimate/grapci_simbol_mokup.png")no-repeat center; background-size: cover;}
section#etc .etc_main dl.etc_5 dt i{background: url("../images/design/system_design/desgin_mokup.png")no-repeat center; background-size: cover;}

section#etc .etc_main dl dd{padding: 10px 0; font-size: 14px; line-height: 1.7; text-align: right;}
section#etc .etc_main dl dd span{font-weight: normal;}

/* 하단화살표 */
.btn_more{position: fixed; right: 2%; bottom: 7%; width: 50px; height: 50px; cursor: pointer; z-index: 99; transition: 0.5s;}
.btn_top{position: fixed; right: 2%; bottom: 23%; width: 50px; height: 50px; cursor: pointer; z-index: 99; display: none;}
.btn_bottom{position: fixed; right: 2%; bottom: 15%; width: 50px; height: 50px; cursor: pointer; z-index: 99; display: none;}
.console{position: fixed; left: 2%; bottom: 7%;width: 10px; height: 10px;}

/* footer */
#wrap footer{width: 100%;}
#wrap footer .footer_main{width: 1400px; margin: 0 auto;}
/* sns */
#wrap footer .footer_main ul.sns{width: 140px; margin: 0 auto; overflow: hidden; margin-top: 20px;}
#wrap footer .footer_main ul.sns li{margin-right: 20px;}
#wrap footer .footer_main ul.sns li:last-child{margin-right: 0;}
#wrap footer .footer_main ul.sns li a{color: #444;}
#wrap footer .footer_main ul.sns li a i{font-size: 25px;}
/* copyright */
#wrap footer .footer_main .copy{width: 100%; padding: 30px 0 41px 0;}
#wrap footer .footer_main .copy p{font-size: 14px; color: #aaa; text-align: center;}

/* popup all */
#wrap #popup{width: 100%; margin: 0 auto;}
#wrap #popup .popup_main{width: 100%; margin: 0 auto;}
#wrap #popup .bg{position: fixed; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0,0,0,0.7); z-index: 999999; display: none;}
#wrap #popup .bg p.close{position: fixed; bottom: 5%; left: 50%; transform: translate(-50%,0); color: #ebe9e9; font-size: 13px; font-weight: 100; z-index: 999999;}

/* popup1 */
#popup1{position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 800px; height: 600px; overflow: hidden; z-index: 999999; display: none;}
#popup1 button{width: 100px; height: 100px; font-size: 70px; font-weight: 100; padding-bottom: 10px; outline: 0; border: 0; background: #333; color: #fff; opacity: 0.3; cursor: pointer;}
#popup1 button.prev{position: absolute; top: 40%; left: 0;}
#popup1 button.next{position: absolute; top: 40%; right: 0;}
#popup1 ul.popList{width: 2400px; height: 738px;}
#wrap #popup .popup_main #popup1 ul.popList li.popImg{width: 800px; height: 600px;}
/* popup2 */
#popup2{position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 800px; height: 600px; overflow: hidden; z-index: 999999; display: none;}
#popup2 button{width: 100px; height: 100px; font-size: 70px; font-weight: 100; padding-bottom: 10px; outline: 0; border: 0; background: #333; color: #fff; opacity: 0.3; cursor: pointer;}
#popup2 button.prev{position: absolute; top: 40%; left: 0; z-index: 2;}
#popup2 button.next{position: absolute; top: 40%; right: 0; z-index: 2;}
#popup2 ul.popList{width: 2400px; height: 738px;}
#wrap #popup .popup_main #popup2 ul.popList li.popImg{width: 800px; height: 600px;}
#wrap #popup .popup_main #popup2 ul.popList li.pdf{overflow: hidden; width: 800px; height: 600px; position: relative;}
#wrap #popup .popup_main #popup2 ul.popList li.pdf img{width: 800px;}
#wrap #popup .popup_main #popup2 ul.popList li.pdf a{position: absolute; left: 50%; top: 80%; transform: translate(-50%,-50%); padding: 10px 50px; font-size: 30px; border: 3px solid #000; box-sizing: border-box; color: #000; font-weight: bold; transition: 0.8s;}
#wrap #popup .popup_main #popup2 ul.popList li.pdf a:hover{background: #b5cc7c; border: 3px solid #b5cc7c; color: #fff;}
/* popup3 */
#popup3{position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 800px; height: 600px; overflow: hidden; z-index: 999999; display: none;}
#popup3 button{width: 100px; height: 100px; font-size: 70px; font-weight: 100; padding-bottom: 10px; outline: 0; border: 0; background: #333; color: #fff; opacity: 0.3; cursor: pointer;}
#popup3 button.prev{position: absolute; top: 40%; left: 0;}
#popup3 button.next{position: absolute; top: 40%; right: 0;}
#popup3 ul.popList{width: 2400px; height: 738px;}
#wrap #popup .popup_main #popup3 ul.popList li.popImg{width: 800px; height: 600px;}
/* popup4 */
#popup4{position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 800px; height: 600px; overflow: hidden; z-index: 999999; display: none;}
#popup4 button{width: 100px; height: 100px; font-size: 70px; font-weight: 100; padding-bottom: 10px; outline: 0; border: 0; background: #333; color: #fff; opacity: 0.3; cursor: pointer;}
#popup4 button.prev{position: absolute; top: 40%; left: 0;}
#popup4 button.next{position: absolute; top: 40%; right: 0;}
#popup4 ul.popList{width: 2400px; height: 738px;}
#wrap #popup .popup_main #popup4 ul.popList li.popImg{width: 800px; height: 600px;}
#wrap #popup .popup_main #popup4 ul.popList li.play{padding: 100px 40px; box-sizing: border-box;}
/* popup5 */
#popup5{position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 800px; height: 600px; overflow: hidden; z-index: 999999; display: none;}
#popup5 button{width: 100px; height: 100px; font-size: 70px; font-weight: 100; padding-bottom: 10px; outline: 0; border: 0; background: #333; color: #fff; opacity: 0.3; cursor: pointer;}
#popup5 button.prev{position: absolute; top: 40%; left: 0;}
#popup5 button.next{position: absolute; top: 40%; right: 0;}
#popup5 ul.popList{width: 2400px; height: 738px;}
#wrap #popup .popup_main #popup5 ul.popList li.popImg{width: 800px; height: 600px; background: #fff;}
#wrap #popup .popup_main #popup5 ul.popList li.size{padding-top: 40px; box-sizing: border-box; background: none;}